@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-blue: #262f34;
  --less-dark-blue: #232a32;
  --dark-blue: #181e27;
  --very-dark-blue: #141519;

  font-family: 'Overpass', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rating__state {
  padding: 25px;
  background: radial-gradient(circle at top, var(--less-dark-blue), var(--dark-blue));
  border-radius: 25px;
  width: 310px;
  display: flex; /* flex */
  flex-direction: column;
}

.title__icon {
  background-color: var(--less-dark-blue);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.rating__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.rating__description {
  font-size: 12px;
  line-height: 1.2rem;
  color: var(--medium-grey);
  margin-bottom: 16px;
}

.rating__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.rate__element {
  background-color: var(--less-dark-blue);
  height: 40px;
  width: 40px;
  border: none;
  font-weight: 700;
  border-radius: 50%;
  font-size: 12px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-grey);
  transition: background-color .3s ease;
}

.rate__element:hover {
  color: var(--white);
  cursor: pointer;
  background-color: var(--orange);
}

.rate__element-selected {
  color: var(--white);
  cursor: pointer;
  background-color: var(--medium-grey);
}

.rating__btn {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 10px 0;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: background-color .3s ease;
}

.rating__btn:hover {
  color: var(--orange);
  cursor: pointer;
  background-color: var(--white);
}

.thank-you__state {
  padding: 30px 20px 15px;
  background: radial-gradient(circle at top, var(--less-dark-blue), var(--dark-blue));
  border-radius: 25px;
  width: 310px;
  display: flex; /* flex */
  align-items: center;
  flex-direction: column;
}

.thank-you__image {
  margin-bottom: 16px;
}

.selected__rate {
  width: fit-content;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--less-dark-blue);
  color: var(--orange);
  font-size: 12px;
  margin-bottom: 24px;
  transition: background-color .3s ease;
  border: none;
}

.selected__rate:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.thank-you__description {
  font-size: 12px;
  line-height: 1.2rem;
  color: var(--medium-grey);
  margin-bottom: 16px;
  text-align: center;
}

.element_not_displayed {
  display: none;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: fixed;
  bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }